{% extends 'base.html' %}

{% block content %}
    <h2>Add Free Dates</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Add Date</button>
    </form>

    <h2>Added Dates:</h2>
    {% if free_dates %}
        <ul>
            {% for free_date in free_dates %}
                <li>{{ free_date.date }} - Date added</li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No free dates added yet.</p>
    {% endif %}
{% endblock %}
