{% extends 'base.html' %}

{% block content %}
  <h2>Welcome to Our Project</h2>
  <p>Our project, SyncSocial, aims to provide a platform where users can effortlessly coordinate and sync their schedules with friends. Through our intuitive web application, users can create an account, add friends, and share their available dates and times. SyncSocial simplifies the process of planning social events by notifying users about their friends' shared free dates, enabling seamless coordination and fostering stronger social connections. With a user-friendly interface and essential features like login, user creation, friend addition, and free date management, SyncSocial empowers users to synchronize their schedules effortlessly and enjoy more meaningful social interactions.</p>
{% endblock %}
