{% extends 'base.html' %}

{% block content %}
<link href="https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap" rel="stylesheet">
<style>
  /* Add your CSS styles here */
  body {
    margin: 0;
    padding: 0;
    font-family: 'Architects Daughter', cursive;
    background: linear-gradient(to bottom, #FA8072, #ffffff);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
  h2 {
      font-size: 36px;
      font-weight: bold;
      margin-bottom: 20px;
      text-align: center;
  }

  table {
      width: 100%;
      border-collapse: collapse;
  }

  table th,
  table td {
      padding: 10px;
      text-align: left;
      border-bottom: 1px solid #ccc;
  }

  table th {
      background-color: #f2f2f2;
  }

  ul {
      list-style-type: none;
      padding: 0;
      margin: 0;
  }

  li {
      margin-bottom: 5px;
  }

  p {
      margin: 0;
  }
</style>
    <h2>Notifications</h2>
    {% if notifications %}
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Common Dates</th>
                </tr>
            </thead>
            <tbody>
                {% for notification in notifications %}
                    <tr>
                        <td>{{ notification.friend.get_full_name }}</td>
                        <td>{{ notification.friend.email }}</td>
                        <td>
                            {% if notification.common_dates %}
                                <ul>
                                    {% for date in notification.common_dates %}
                                        <li>{{ date.date }}</li>
                                    {% endfor %}
                                </ul>
                            {% else %}
                                <p>No dates in common</p>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No notifications</p>
    {% endif %}
{% endblock %}
